@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: #272626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

body header {
  padding: 2rem;
}

body header h1 {
  font-family: 'Monoton', cursive;
  font-size: 2rem;
  line-height: 111px;
  text-align: center;
  color: #c2c2c2;
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 50%;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
}

body section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

body .container .left-autocomplete,
body .container .right-autocomplete {
  padding: 0 2rem;
  position: relative;
}

body .container .left-autocomplete .input,
body .container .right-autocomplete .input {
  width: 70%;
  padding: 0.9rem;
  border-radius: 4px;
  font: inherit;
  border: unset;
  border-radius: 50px;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
}

body .container .left-autocomplete .input::-webkit-input-placeholder,
body .container .right-autocomplete .input::-webkit-input-placeholder {
  color: #c2c2c2;
}

body .container .left-autocomplete .input:-ms-input-placeholder,
body .container .right-autocomplete .input:-ms-input-placeholder {
  color: #c2c2c2;
}

body .container .left-autocomplete .input::-ms-input-placeholder,
body .container .right-autocomplete .input::-ms-input-placeholder {
  color: #c2c2c2;
}

body .container .left-autocomplete .input::placeholder,
body .container .right-autocomplete .input::placeholder {
  color: #c2c2c2;
}

body .container .left-autocomplete .input:focus,
body .container .right-autocomplete .input:focus {
  outline: none;
}

body .container .left-autocomplete .items,
body .container .right-autocomplete .items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 160px;
  list-style: none;
  border: 1px solid #272626;
  background-color: #272626;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 2;
}

body .container .left-autocomplete .items .item,
body .container .right-autocomplete .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .left-autocomplete .items .item:hover,
body .container .right-autocomplete .items .item:hover {
  background-color: #ecf0f3;
}

body .container .left-autocomplete .items .item img,
body .container .right-autocomplete .items .item img {
  padding: 0.5em 1em;
  height: 80px;
}

body .container .left-autocomplete .items .item p,
body .container .right-autocomplete .items .item p {
  padding: 0 1em;
}

body .container .left-autocomplete .is-open,
body .container .right-autocomplete .is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .left-autocomplete .is-hidden,
body .container .right-autocomplete .is-hidden {
  display: none;
}

body .container .left-summary,
body .container .right-summary {
  padding: 2rem;
}

body .container .left-summary .media,
body .container .right-summary .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  border-radius: 11px;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
  max-height: 400px;
}

body .container .left-summary .media .media-left img,
body .container .right-summary .media .media-left img {
  width: 100%;
}

body .container .left-summary .media .media-content,
body .container .right-summary .media .media-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .left-summary .media .media-content .content,
body .container .right-summary .media .media-content .content {
  padding: 0 1rem;
  text-align: start;
}

body .container .left-summary .media .media-content .content h1,
body .container .right-summary .media .media-content .content h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

body .container .left-summary .media .media-content .content h4,
body .container .right-summary .media .media-content .content h4 {
  margin-bottom: 1rem;
}

body .container .left-summary .notification,
body .container .right-summary .notification {
  margin: 2rem 0;
  padding: 1rem;
  text-align: start;
  border-radius: 11px;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
}

body .container .left-summary .notification .title,
body .container .right-summary .notification .title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

body .container .left-summary .notification .subtitle,
body .container .right-summary .notification .subtitle {
  display: inline;
  font-size: 0.7rem;
  color: #c2c2c2;
  background-color: black;
  padding: 0.3rem 1rem;
  border-radius: 7px;
}

body .container .left-summary .winner::before,
body .container .right-summary .winner::before {
  content: '🏆';
}

body .container .left-autocomplete .items {
  left: 8.5rem;
}

body .guide {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 11px;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
  color: #c2c2c2;
}

body .guide h1 {
  margin-bottom: 1rem;
}

body .is-hidden {
  display: none;
}

body footer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #c2c2c2;
}

body footer .logos img {
  padding: 0.7rem;
  border-radius: 50%;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
}

body footer > a {
  color: #c2c2c2;
  text-decoration: none;
  padding: 1rem;
  border-radius: 11px;
  background: #272626;
  -webkit-box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
          box-shadow: 20px 20px 31px #212020, -20px -20px 31px #2d2c2c;
}

@media only screen and (max-width: 768px) {
  body section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body section .container .left-autocomplete .items,
  body section .container .right-autocomplete .items {
    width: 70%;
    left: 3.25rem;
    border-radius: 0.5rem;
  }
  body section .container:nth-child(2) {
    display: none;
  }
  body section .guide {
    margin: 0 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body footer {
    position: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer p {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */